/* ----------------------Phần Hệ Thống-------------------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* ---------------------Phần các biến--------------------------------------------------------------------------------------- */
:root {
    --font-sen: "Sen", sans-serif;
    --primary-color: #ffb900;
}
/* ---------------------Phần dùng chung Common------------------------------------------------------------------------------ */
/* -----Main-content----- */
.main-content {
    width: 1170px;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}
/* Thẻ a */
a {
    text-decoration: none;
}
/* Nút btn button */
.btn {
    display: inline-block;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem; /* line-height: 28px; identical to box height, or 175% */
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
/* Tạo line-clamp -> Xuất hiện dấu 3 chấm khi vượt quá số dòng quy định*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.line-clamp-2 {
    --line-clamp: 2;
}
/* h1 h2 những nội dung chính của trang */
.heading {
    font-family: var(--font-sen);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
.heading.heading-lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* or 117% */
}
.heading.heading-lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
/* ----------------------Phần nội dung CSS--------------------------------------------------------------------------------- */

/* -------------------------------------Phần Header------------------------------ */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    z-index: 1;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding-top: 36px;
}
/* -----Phần Nav----- */
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav ul li a {
    position: relative;
    padding: 8px 21px;
    /* font-weight: 400; mặc định là 400 rồi */
    /* font-size: 1.6rem; mặc định 16px rồi */
    color: #5f5b53;
}
.header .nav a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 600; do ta đã dùng text-shadow thay thế nên ko cần font-weight nữa */
    /* font-size: 16px; mặc định 16px rồi */
    /* line-height: 1.75; identical to box height, or 175% */
    color: #171100;
}
.header .nav li.active a::after {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: 6px;
}
/* -----Phần sign up btn----- */
.header .sign-up-btn {
    min-width: 144px;
}
.header .body .action {
    margin-left: 49px;
}
/* -------------------------------------Phần Hero------------------------------ */
.hero {
    background: #fffcf4;
    padding: 64px 0 65px;
}
.hero .body {
    display: flex;
}
/* ----------Phần Hero-left---------- */
.hero .body .media-block {
    position: relative;
    width: 48%;
}
/* -----Phần ảnh lớn----- */
.hero .body .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
/* -----Phần ảnh nhỏ----- */
.hero-summary {
    position: absolute;
    width: 270px;
    padding: 24px;
    right: 0px;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item + .item {
    margin-top: 14px;
}
/* Phần css hình tròn bảo quanh ảnh nhỏ của nhỏ*/
.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    /* Phần display: flex này để ảnh nằm giữa width height */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-summary .icon.icon-2 {
    background: #fcefff;
}
.hero-summary .icon.icon-3 {
    background: #ebeaff;
}
/* Phần info của ảnh nhỏ */
.hero-summary .info {
    margin-left: 16px;
}
.hero-summary .info .label {
    font-size: 1.4rem;
    line-height: 1.86; /* identical to box height, or 186% */
    color: #5f5b53;
}
.hero-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67; /* identical to box height, or 167% */
    color: #171100;
}
/* ----------Phần Hero right---------- */
.hero .body .content-block {
    width: 52%;
    /* width: 470px; */
    /* height: 558px; */
    padding: 64px 0 0 130px;
}

/* Phần mô tả desc  */
.hero .body .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67; /* or 167% */
    color: #5f5b53;
}
/* Phần cta-group */
.hero .body .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px 0;
}
/* Phần nút bấm màu vàng */
.hero .body .content-block .btn.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
    border-radius: 32px;
}
/* Phần cả nút watch-video và icon */
.hero .body .content-block .cta-group .watch-video {
    display: flex;
    align-items: center;
    background: #fffcf4;
    margin-left: 28px;
    border: none;
    cursor: pointer; /* cursor: pointer --> để thêm hiệu ứng khi di chuột vào khi không phải thẻ a ( ví dụ di chuột vào ảnh ) */
}
/* Phần icon watch-video */
.hero .body .content-block .cta-group .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
/* Phần chữ "watch-video" */
.hero .body .content-block .cta-group .watch-video span {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px; /* identical to box height, or 167% */
    margin-left: 14px;
    color: #171100;
}

/* Phần chữ to "50k 70+" */
.hero .body .content-block .desc.stats {
    margin-top: 8px;
}
.hero .body .content-block .desc.stats strong {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23; /* identical to box height, or 123% */
    color: #171100;
    padding-right: 14px;
}
.hero .body .content-block .desc.stats strong:nth-child(2) {
    margin-left: 28px;
}
/* -------------------------------------------------Phần Popular---------------------------------------------------------- */
/* ----------Phần Popular-top---------- */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Phần info */
.popular .popular-top .info .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67; /* or 167% */
    color: #5f5b53;
}
/* Phần button chevron <> */
.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular .popular-top .controls .controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}
.popular .popular-top .controls .controls-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}
/* ------------Phần Course-list ( Popular-bottom )-------------- */
.course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.course-list .course-item {
    flex: 1;
    background: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
/* -----Phần ảnh----- */
.course-list .course-item .thumb {
    /* Đây calc và margin -1px để cho ảnh đè lên border theo đúng mẫu */
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
/* -----Phần info----- */
.course-list .course-item .info {
    padding: 16px 22px 22px;
}
.course-list .course-item .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Phần title info */
.course-list .course-item .info .head .title {
    padding-right: 6px;
}
.course-list .course-item .info .head .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67; /* identical to box height, or 167% */
    color: #171100;
}
/* Phần value "4.5" */
.course-list .course-item .info .head .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-color);
}
/* Phần mô tả desc */
.course-list .course-item .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86; /* or 186% */
    color: #5f5b53;
}
/* Phần foot của info */
.course-list .course-item .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Phần giá tiền */
.course-list .course-item .info .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67; /* identical to box height, or 167% */
    color: #171100;
}
/* Phần nút bấm "Book now" */
.course-list .course-item .info .foot .book-btn {
    /* Thay đổi mặc định border và padding của thẻ <button> */
    border: none;
    padding: 0px;
}
.course-list .course-item .info .foot .btn:hover {
    background: var(--primary-color);
    border: var(--primary-color);
}
