/* ----------------------Phần Hệ Thống-------------------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* ----------------------Phần dùng chung Common----------------------------------------------------------------------------- */
/* -----Main-content----- */
.main-content {
    width: 1170px;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}
/* Thẻ a */
a {
    text-decoration: none;
}
/* Nút btn button */
.btn {
    display: inline-block;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    /* line-height: 28px; identical to box height, or 175% */
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
}
/* ----------------------Phần nội dung CSS--------------------------------------------------------------------------------- */

/* -------------------------------------Phần Header------------------------------ */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding-top: 36px;
}
/* -----Phần Nav----- */
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav ul li a {
    position: relative;
    padding: 8px 21px;
    /* font-weight: 400; mặc định là 400 rồi */
    /* font-size: 1.6rem; mặc định 16px rồi */
    color: #5f5b53;
}
.header .nav a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 600; do ta đã dùng text-shadow thay thế nên ko cần font-weight nữa */
    /* font-size: 16px; mặc định 16px rồi */
    /* line-height: 1.75; identical to box height, or 175% */
    color: #171100;
}
.header .nav li.active a::after {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: 6px;
}
/* -----Phần sign up btn----- */
.header .sign-up-btn {
    min-width: 144px;
}
.header .body .action {
    margin-left: 49px;
}
